In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset-segmented.csv', header=None)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Columns: 25089 entries, 0 to 25088
dtypes: float64(25088), int64(1)
memory usage: 287.1 MB

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,25079,25080,25081,25082,25083,25084,25085,25086,25087,25088
0,0,0.000000,0.00000,0.0,0.000000,12.431628,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,7.742389,0.000000,0.0,0.0,0.0,0.0,0.0
2,0,0.000000,0.00000,0.0,8.859365,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,3.253726,0.0,0.0,0.0,0.0,0.0
3,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,8.434748,0.0,...,0.0,0.0,0.0,5.700318,0.000000,0.0,0.0,0.0,0.0,0.0
4,0,30.259119,45.62943,0.0,52.625065,0.000000,0.0,0.0,2.735458,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Separate by label (assuming label is in the first column)
label_0 = df[df[0] == 0]
label_1 = df[df[0] == 1]

# Keep only the first 250 rows of label 0
label_0_reduced = label_0.head(250)

# Concatenate with all label 1 rows
final_df = pd.concat([label_0_reduced, label_1], ignore_index=True)

# Save to new CSV (no header, no index)
final_df.to_csv('dataset-segmented-trimmed.csv', header=False, index=False)